In [2]:
import pandas as pd

# Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [4]:
movie_rating = pd.read_csv('ratings.csv').merge(pd.read_csv('movies.csv'), on = 'movieId')

In [7]:
def classified (row_rating):
    if row_rating <= 2:
        return 'Low'
    elif row_rating <= 4:
        return 'Midle'
    elif row_rating > 4:
        return 'Hight'

In [9]:
movie_rating['class'] = movie_rating['rating'].apply(classified)
movie_rating.head()

,userId,movieId,rating,timestamp,title,genres,class
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Midle
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Midle
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Hight
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Midle
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Hight

# Задание 2

In [14]:
keyword_table = pd.read_csv('keywords.csv')
keyword_table.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [15]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [16]:
def location(keyword):
    for region, cities in geo_data.items():
        for n in cities:
            if n in keyword:
                return region
    return 'undefined'

In [17]:
keyword_table['region'] = keyword_table['keyword'].apply(location)
keyword_table['region'].value_counts()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64