In [2]:
import pandas as pd

# Задание 1

In [9]:
rating = pd.read_csv('ratings.csv').merge(pd.read_csv('movies.csv'), on = 'movieId')
rating = rating[['title', 'rating']]
rating = rating[rating.rating == 5.0]
rating['title'].value_counts().head(1)

Shawshank Redemption, The (1994)    153
Name: title, dtype: int64

# Задание 2

In [10]:
baltia = pd.read_csv('power.csv')
baltia = baltia[(baltia.country == 'Estonia') | (baltia.country == 'Lithuania') | (baltia.country == 'Latvia')]
baltia = baltia[(baltia.category == 4) | (baltia.category == 12) | (baltia.category == 21)]
baltia = baltia[(baltia.year >= 2005) & (baltia.year <= 2010)]
baltia.quantity.sum()

240481.0

# Задание 3

In [14]:
page_url = 'https://www.finanz.ru/valyuty/usd-rub'
table = pd.read_html(page_url, attrs = {'class': 'news_table'}, encoding='utf-8')

df = pd.DataFrame(table[1])

df

       Имя  Unnamed: 1      %     курс                 Дата
0  EUR/RUB         NaN  -3656   899654  23.02.2021 20:43:00
1  USD/RUB         NaN  -2127   740852  23.02.2021 20:44:00
2  CHF/RUB         NaN -10413    81999  23.02.2021 20:44:00
3  JPY/RUB         NaN   -378      704  23.02.2021 20:44:00
4  GBP/RUB         NaN   -134  1044254  23.02.2021 20:44:00
5  NOK/RUB         NaN  -2495    87202  23.02.2021 20:43:00
6  AUD/RUB         NaN  -3506   585509  23.02.2021 20:43:00
7  NZD/RUB         NaN  -1438   543131  23.02.2021 20:43:00
8  TRY/RUB         NaN -10137   104626  23.02.2021 20:43:00